*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Acme", sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("https://images.unsplash.com/photo-1535408913330-a71d0a3e29ba?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: cover;
    color: #cecccc;
}
.container{
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.container > .newyear{
    font-size: 30px;
    margin-bottom: 40px;
    word-spacing: 20px;
    letter-spacing: 2px;
}
.timer{
    width: 50%;
    height: 15vh;    
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 10px;
    background-image: linear-gradient(rgba(0,0,0,0.2));
    border-radius: 1rem;
}
.timer div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    letter-spacing: 2px;
}
.nextYear{
    font-size: 60px;
    letter-spacing: 10px;
    color: #949393b6;
}
.names{
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

